each value, key in theme.menu
  if typeof(value) !== 'object'
    - var isplit = value.split('||')
    .menus_item
      a.site-page(href=url_for(trim(isplit[0])))
        i.fa-fw(class=trim(isplit[1]))
        span=' '+key
  else
    .menus_item
      - var selfsplit=value.self.split('||')
      a.site-page(href=url_for(trim(selfsplit[0])))
        i.fa-fw(class=trim(selfsplit[1]) aria-hidden="true")
        span=' '+ trim(key)
        i.fa.fa-chevron-down.menus-expand(aria-hidden="true")
      ul.menus_item_child
        each ivalue, ikey in value
          - var isplit = ivalue.split('||')
          if ikey !== 'self'
            li
              a.site-page(href=url_for(trim(isplit[0])))
                i.fa-fw(class=trim(isplit[1]))
                span=' '+ikey